section {
    position: relative;
    z-index: 2;
}

.section {
    padding-top: 4rem;

    @include breakpoint(large) {
        padding-top: 8rem;
    }

    &--horizontal {
        width: fit-content;
    }
}
