button {
    cursor: pointer;
}

.button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    background-color: $pink;
    border: $border-width solid $black;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: lowercase;
    padding: 0.75rem 1.25rem;
    color: $white;
    box-shadow: 0.5rem 0.5rem 0 0 $black;
    transition: box-shadow $transition-time;

    &:hover {
        box-shadow: 0 0 0 0 $black;
        color: $white;
    }

    &.loading {
        box-shadow: 0 0 0 0 $black;
        background: linear-gradient(
            90deg,
            rgba(255, 66, 167, 1) 25%,
            rgba(249, 124, 190, 1) 50%,
            rgba(255, 66, 167, 1) 75%
        );
        background-size: 200%;
        animation: animateButton 3s ease infinite;
    }
}

@keyframes animateButton {
    0% {
        background-position: -50%;
    }
    100% {
        background-position: 150%;
    }
}
