:root {
    --toastify-color-light: #ffffff !important;
    --toastify-color-dark: #000000 !important;
    --toastify-color-info: #3f3be6 !important;
    --toastify-color-success: #84ce0e !important;
    --toastify-color-warning: #ff4271 !important;
    --toastify-color-error: #ff4271 !important;
}
