body {
    font-size: 1rem;
    line-height: $line-height;
    font-family: $body-font;
    color: $black;
    background-size: auto;
    background-repeat: repeat;
}

.content {
    position: relative;
}
