.projects {
    width: 100%;
    height: 100%;

    .swiper {
        overflow: visible;

        &-wrapper {
            display: flex;
        }

        &-slide {
            width: 100%;
            min-width: 100%;
        }
    }

    &-item {
        display: flex;
        position: relative;
        overflow: hidden;
        padding-top: 72%;
        width: 100%;
        border-radius: $border-radius;
        border-style: solid;
        border-width: $border-width;
        border-color: $blue;
        box-shadow: 0.6rem 0.6rem 0 0 $blue;

        &.odd {
            border-color: $pink;
            box-shadow: 0.5rem 0.5rem 0 0 $pink;
        }
    }

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
