/*
* Colors
*/

$black: #000000;
$white: #ffffff;
$pink: #ff42a7;
$blue: #3f3be6;
$green: #a0ff0a;

$colors: (
    "pink": $pink,
    "blue": $blue,
    "green": $green,
    "white": $white,
    "black": $black,
);

/*
* Container
*/

$container-width: 1024px;

$breakpoints: (
    medium: 760,
    large: 1024,
    xlarge: 1240,
);

/*
* Typography
*/

$line-height: 1.3;
$header-line-height: 1.2;
$body-font: "Montserrat", sans-serif;
$header-margin: 0.5em;
$headers: (
    small: (
        h1: (
            size: 1.75rem,
            weight: 800,
        ),
        h2: (
            size: 1.5rem,
            weight: 600,
        ),
        h3: (
            size: 1.25rem,
            weight: 600,
        ),
        h4: (
            size: 1rem,
            weight: 600,
        ),
        h5: (
            size: 0.875rem,
            weight: 600,
        ),
        h6: (
            size: 0.875rem,
            weight: 600,
        ),
    ),
    medium: (
        h1: (
            size: 4rem,
            weight: 900,
        ),
        h2: (
            size: 2.5rem,
            weight: 600,
        ),
        h3: (
            size: 1.75rem,
            weight: 600,
        ),
        h4: (
            size: 1.25rem,
            weight: 600,
        ),
        h5: (
            size: 1rem,
            weight: 600,
        ),
        h6: (
            size: 0.875rem,
            weight: 600,
        ),
    ),
    large: (
        h1: (
            size: 5.5rem,
            weight: 900,
        ),
        h2: (
            size: 4rem,
            weight: 600,
        ),
        h3: (
            size: 2.25rem,
            weight: 600,
        ),
        h4: (
            size: 1.25rem,
            weight: 600,
        ),
        h5: (
            size: 1rem,
            weight: 600,
        ),
        h6: (
            size: 0.875rem,
            weight: 600,
        ),
    ),
);

/*
* Components
*/

$border-width: 3px;
$border-radius: 0.5rem;
$large-border-radius: 1rem;

$transition-time: 0.3s ease-in-out;
